body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  background-color: coral;
  margin: -15px;
  padding: 25px;
  color: aliceblue;
}

h2 {
  background-color: coral;
  margin-left: 650px;
  margin-right: 650px;
  border-radius: 25px;
  margin-top: 35px;
  color: aliceblue;
  border: solid 4px rgb(176, 71, 32);
}

#about_me_section,
#project-list,
#contact_details {
  background-color: rgb(255, 183, 157);
  border-radius: 25px;
  padding: 15px;
  font-weight: bold;
  color: aliceblue;
  font-size: 1.4em;
  -webkit-text-stroke: 0.75px rgb(176, 71, 32);
}

a {
  text-decoration: none;
}

#contact_form {
  margin-top: 25px;
}

form {
  margin-top: 25px;
}

.form-group {
  display: flex;
  justify-content: center;
  margin: 15px;
}

input[type='text'],
input[type='email'],
textarea {
  width: 250px;
  margin-left: 25px;
  font-size: 1.25em;
}

input[type='submit' i],
input[type='reset' i] {
  background-color: coral;
  color: white;
  border: none;
  width: 150px;
  height: 45px;
  font-size: 1.25em;
  border-radius: 25px;
  box-shadow: 1.5px 1.5px black;
}

input[type='submit' i]:hover,
input[type='reset' i]:hover {
  box-shadow: 0px 0px black;
  background-color: rgb(255, 167, 136);
}
